<section class="coverArtSection">
  <div class="gridContainer">
  <div class="naveContainer"><div class="controlNave"><img class="imgNave"src="/img/coverArt/nave.png" alt=""></div></div>
    <div class="backgroundCov">
      <img src="/img/coverArt/backgroundCover.png" alt="">
    </div>
    <div class="controlImgDiag1">
      <div class="diagCo"><img class="imgDiag1" src="/img/coverArt/diagonale1.png" alt=""></div>
    </div>
    <div class="controlImgDiag2">
      <div class="diagCo"><img class="imgDiag2" src="/img/coverArt/diagonale2.png" alt=""></div>
    </div>
    <div class="circleContainer">
      <div class="circleRed"><img class="imgRed" src="/img/coverArt/Ellipse.png" alt=""></div>
    </div>
    <div class="squareContainer">
      <div class="squareRed">
        <img class="torpedoFish" src="/img/coverArt/torpedo.png" alt="">
        <img class="rectangleCov" src="/img/coverArt/Rectangle.png" alt=""></div>
    </div>
    <div class="telegraphContainer">
      <div class="telegraphBlack"><img class="telegraphImg"src="/img/coverArt/telegrafo.png" alt=""></div>
    </div>

    <div class="titleContainer">

    <div class="titleCover"><h1>The Telegraph</h1></div>
    </div>
  </div>
</section>
