<div class="scroller page p-01">
  <div class="mainContainer">
    <div class="containerFrame1">
      <div class="overlay2D ov2D"></div>
      <div class="Image-01">
        <div class="dioPadding">
          <div class="bookmarkFrame4"></div>
        </div>
      </div>
      <div class="textBookmark">
        <div class="controlTextBookMark">
          <div class="titleBookMark">
            <h2 class="titoloChappe">4. Le connessioni intercontinentali</h2>
          </div>
          <article>
            <p class="spanBookmark">Nel giro di pochi anni le connessioni</p>
            <p class="spanBookmark">telegrafiche tramite i pali elettrici</p>
            <p class="spanBookmark">si stavano diffondendo</p>
            <p class="spanBookmark">non solo negli Stati Uniti ma</p>
            <p class="spanBookmark">anche in tutta Europa.</p>
            <p class="spanBookmark">In tutto il mondo</p>
            <p class="spanBookmark">la popolazione era di fronte ad una</p>
            <p class="spanBookmark">realtà che soltanto pochi</p>
            <p class="spanBookmark">decenni prima non era nemmeno</p>
            <p class="spanBookmark">contemplabile: la telecomunicazione</p>
            <p class="spanBookmark">
              a distanza ed immediata era qualcosa</p> 
              <p class="spanBookmark">
              di possibile.
            </p>
            <p class="spanBookmark">Ma mancava un unico tassello</p>
            <p class="spanBookmark">per rendere questa rivoluzione</p>
            <p class="spanBookmark">ancora più di impatto:</p>
            <p class="spanBookmark">le connessioni tra i continenti.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperContentP1T">
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            Un businessman di grande successo di nome Cyrus Field colse
            l’opportunità di investire nel mercato dei telegrafi. La sua prima
            linea telegrafica doveva collegare la città di New York a
            Newfoundland, con lo scopo di poter inviare notizie di arrivo degli
            sbarchi dall’Irlanda in poco tempo. Ma nel 1854 Field ebbe un’altra
            idea: quella di collegare
          </p>
        </article>
      </div>
    </div>
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            collegare l’America all’Europa collegando Newfoundland all’Irlanda
            per arrivare così a Londra che era all’epoca il centro dell’economia
            globale. Cercò fondi dai maggiori investitori, inclusi i governi
            degli Stati Uniti e del Regno Unito per ottenere le navi per il
            collegamento dei cavi.
          </p>
        </article>
      </div>
    </div>
    <div class="containerFrame2M">
      <div class="frame7"></div>
    </div>
  </div>
</div>

<!-- Pagina 2 -->
<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Egli recrutò inoltre ingegneri e scienziati nel progetto per
          sviluppare cavi che potessero reggere la pressione sottomarina e
          inviare dall’altro capo dell’oceano gli impulsi elettrici. I primi
          tentativi fuorno disastrosi e quasi fecero perdere la fuducia nel
          progetto ma finalmente nel 1858 il primo collegamento si originò tra
          l’America e l’Inghilterra.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2Copy">
    <div class="intra"></div>
    <div class="text"></div>
  </div>
</div>
<!-- Page 3 -->

<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Egli recrutò inoltre ingegneri e scienziati nel progetto per
          sviluppare cavi che potessero reggere la pressione sottomarina e
          inviare dall’altro capo dell’oceano gli impulsi elettrici. I primi
          tentativi fuorno disastrosi e quasi fecero perdere la fuducia nel
          progetto ma finalmente nel 1858 il primo collegamento si originò tra
          l’America e l’Inghilterra.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2Copy">
    <div class="intra"></div>
    <div class="text"></div>
  </div>
</div>
<!-- PAGE 4 -->
<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Scambi di buona fortuna furono inviati dalla regina Victoria al
          presidente degli Stati Uniti d’America:”It is a triumph more glorious,
          because far more useful to mankind, than was ever won by conqueror on
          the field of battle”, inviò con il codice morse il presidente . Nel
          1866 un collegamento permanente fu creato tra i due continenti e da
          questo momento in poi le connessioni telegrafiche transoceaniche si
          diffusero nel mondo.
        </p>
      </article>
    </div>
  </div>
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Rappresentate dalle mappe si puó vedere la progressione
          dell’espansione del telegrafo nel corso di cinquant’anni circa.
        </p>
      </article>
    </div>
  </div>
</div>
<!-- PAGE 5 -->

<div class="scroller page">
  <div class="textContainer textPage01"></div>
</div>
