<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <script defer src="/js/bundled/index.js"></script>
    <title>The Telegraph</title>
  </head>
  <body>
    <!-- SECTION 1 -->
    <div class="mainSiteWrapper">
      <section class="sectioni">
        <div class="mainWrapper">
          <!-- a) BOOKMARK -->
          <!-- PAGE 1 -->
          <div class="scroller page p-01">
            <div class="mainContainer">
              <div class="containerFrame1">
                <div class="overlay ov1"></div>
                <div class="overlay ov2"></div>
                <div class="Image-01">
                  <div class="dioPadding">
                    <div class="frame1"></div>
                  </div>
                </div>
                <div class="textBookmark">
                  <div class="controlTextBookMark">
                    <div class="titleBookMark">
                      <h2 class="titoloChappe">1. Il telegrafo di Chappe</h2>
                    </div>
                    <article>
                      <p class="spanBookmark">
                        Un progresso nella comunicazione
                      </p>
                      <p class="spanBookmark">
                        avvenne dopo il 17 secolo quando
                      </p>
                      <p class="spanBookmark">
                        un’invenzione ridusse drasticamente le
                      </p>
                      <p class="spanBookmark">
                        distanze: il telescopio. Si capì che
                      </p>
                      <p class="spanBookmark">
                        grazie alle proprietà di ingrandimento
                      </p>
                      <p class="spanBookmark">
                        della lente, i messaggi potessero essere
                      </p>
                      <p class="spanBookmark">
                        ora inviati da punti sempre più
                      </p>
                      <p class="spanBookmark">lontani.</p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapperContentP1">
              <div class="textContainer textPage01">
                <div class="controlText">
                  <article>
                    <p>
                      Nel XVIII secolo scienziati e inventori cominciariono a
                      costruire prototipi meccanici di invio di messaggi a lunga
                      distanza sfruttando il sistema di ingrandimento delle
                      immagini.
                    </p>
                    <p>
                      Tra i tanti che ci provarono, Claude Chappe (1768-1805) si
                      distinse per averne inventato uno che fece fortuna nella
                      Francia del XIX secolo.
                    </p>
                    <p>
                      Il telegrafo di Chappe fu inventato nel 1792. Erano gli
                      anni della rivoluzione Francese e il paese era circondato
                      da forze nemiche.
                    </p>
                    <p>
                      Secondo Chappe il suo telegrafo avrebbe permesso di
                      inviare ordini e diffondre notizie in tempi rapidissimi
                      per tutta la Francia.
                    </p>
                    <p>
                      L aprima linea telegrafica, composta da 15 stazioni, fu
                      costruita tra la città di Lille e Parigi con un percorso
                      di 230 km di lunghezza.
                    </p>
                    <p>
                      Il primo messaggio di 36 simboli fu inviato in un tempo
                      record di 32 minuti
                    </p>
                  </article>
                </div>
              </div>
              <div class="containerFrame2">
                <div class="gif1 intra">
                  <img class="gifChappe" src="/img/chappeblack.gif" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Pagina 2 -->
          <div class="scroller page p-02">
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Il telegrafo di Chappe inviava messaggi alla stazione
                    successiva manovrando meccanicamente du ebraccia di legno
                    aventi ognuno 7 posizioni possibili connesse ad una sbarra
                    trasversale avente 4 posizioni. I messaggi venivano
                    trasmessi in codice usando un decifratore posseduto dai capi
                    stazione.
                  </p>
                </article>
              </div>
            </div>
          </div>
          <!-- Page 3 -->
          <div class="scroller page p-03">
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Il telegrafo di Chappe si diffuse rapidamente per tutta la
                    francia del XIX secolo. Sebbene non molto numerosi, questi
                    collegamenti fanno già pensare a qualcosa che vagamente
                    assomiglia ad un network a servizio del governo centrale di
                    Parigi. Commentatori dell’epoca riflettevano sull’impatto
                    rivoluzionario di questo strumento. Per la prima volta la
                    Francia aveva una mente sola.
                  </p>
                  <p>
                    Sebbene i telegrafi ottici velocizzarono la comunicazione
                    collegando zone lontanissime in un paese, questo tipo di
                    telegrafia era stata concepita esclusivamente per operazioni
                    di intelligence.
                  </p>
                  <p>
                    Tutti i vantaggi del telegrafo di Chappe rischiavano di
                    risultare obsoleti al di fuori della guerra.
                  </p>
                  <p>
                    Ma nello stesso periodo storico, stava per accadere qualcosa
                    che avrebbe scaraventato l’uomo nell’epoca moderna, qualcosa
                    che avrebbe finalmente fatto accadere l’impossibile: la
                    scoperta dell’induzione elettromagnetica.
                  </p>
                  <p>
                    L’elettromagnetismo stava per rivoluzionare la
                    telecomunicazione per sempre.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame3">
              <div class="svg1 intra">
                <%- include('svg/francia_chappe-01.svg')%>
              </div>
            </div>
          </div>
          <div class="backgroundContainer">
            <div class="frame5 background"></div>
          </div>
          <!--SECOND SECTION ELECTROMAGNETISM -->
          <!-- a) BOOKMARK -->
          <!-- PAGE 1 ELECTROMAGNETISM -->
          <div class="scroller page p-01">
            <div class="mainContainer">
              <div class="containerFrame1">
                <div class="overlayM ov1M"></div>
                <div class="overlay2M ov2M"></div>
                <div class="Image-01">
                  <div class="dioPadding">
                    <div class="frame2"></div>
                  </div>
                </div>
                <div class="textBookmark">
                  <div class="controlTextBookMark">
                    <div class="titleBookMark">
                      <h2 class="titoloChappe">2. L'elettromagnetismo</h2>
                    </div>
                    <article>
                      <p class="spanBookmark">
                        Nel periodo storico che va approssimatamente
                      </p>
                      <p class="spanBookmark">
                        tra il XVII e il XIX secolo ci fu una scoperta
                        progressiva dell’elettricità.
                      </p>
                      <p class="spanBookmark">
                        Questo fenomeno fisico, così misterioso e fino ad allora
                        incompreso
                      </p>
                      <p class="spanBookmark">
                        veniva finalmente analizzato dai più importanti
                        scienziati dell’epoca.
                      </p>
                      <p class="spanBookmark">
                        Sembrava esserci la volontà da parte della comunità
                      </p>
                      <p class="spanBookmark">
                        scientifica di voler trovare a tutti i costi il modo di
                        manipolare
                      </p>
                      <p class="spanBookmark">
                        e soprattutto di conservare questa forza.
                      </p>
                      <p class="spanBookmark">
                        Ma anche a questi pionieri non erano
                      </p>
                      <p class="spanBookmark">
                        chiare le applicazioni dell’elettricità e molti si
                        iniziarono
                      </p>
                      <p class="spanBookmark">
                        a chiedere non che cosa fosse l’elettricità ma a cosa
                        servisse.
                      </p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapperContentP1">
              <div class="textContainer textPage01M">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      Le cose cambiarono quando Michel Faraday e Herny Joseph
                      investigarono e sperimentavano con più attenzione la
                      correlazione che era stata già osservata tra l’elettricità
                      e il magnetismo, all’epoca considerate due forze separate.
                    </p>
                    <p>
                      Indipendentemente l’uno dall’altro questi scienziati
                      compresero che l’elettricità che passava attraverso dei
                      fili conduttori avvolti attorno ad un metallo produceva un
                      campo magnetico in grado di attirare a se i metalli.
                    </p>
                    <p>
                      Come Joseph Henry potè testare, avvolgendo sempre più fili
                      l’intensità del campo magnetico aumentava a sua volta.
                    </p>
                  </article>
                </div>
              </div>
              <div class="textContainer textPage01M">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      Le cose cambiarono quando Michel Faraday e Herny Joseph
                      investigarono e sperimentavano con più attenzione la
                      correlazione che era stata già osservata tra l’elettricità
                      e il magnetismo, all’epoca considerate due forze separate.
                    </p>
                    <p>
                      Questa , oltre ad essere stata una delle scoperte più
                      importanti della storia, ha posto le basi per la
                      costruzione del telegrafo. Infatti, si poteva ora trovare
                      un modo per comunicare a distanza sfruttando la
                      possibilità di rendere visibile l’attrazione dei metalli a
                      distanza, ma a differenza dei sistemi precedenti la
                      comunicazione sarebbe stata immediata e su lunghissime
                      distanze.
                    </p>
                  </article>
                </div>
              </div>
              <div class="containerFrame2M">
                <div class="frame3"></div>
                <div class="frame4"></div>
              </div>
            </div>
          </div>

          <!-- Pagina 2 -->
          <div class="scroller page p-02">
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Così come tanti nel 700 lavoravano per costruire i semafori
                    ottici, nell’ottocento molti tentarono di costruire dei
                    telegrafi appena scoperta la forza elettromagnetica. Quelli
                    che riuscirono a rendere il loro prodotto commerciabile,
                    furono gli inglesi William Fothergill Cooke e Charles
                    Whatstone. Il loro five needle telegraph fu patentato il 12
                    giugno 1837, solo sei anni dopo l’esperimento di Faraday.
                  </p>
                  <p>
                    Questo strumento utilizzava la forza elettromagnetica
                    attraverso la quale si riusciva a far ruotare gli aghi. Il
                    movimento di due di questi poteva isolare la lettera
                    prescelta posta in una struttura ad albero come in figura.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- Page 3 -->
          <div class="scroller page p-03">
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Questo strumento utilizzava la forza elettromagnetica
                    attraverso la quale si riusciva a far ruotare gli aghi. Il
                    movimento di due di questi poteva isolare la lettera
                    prescelta posta in una struttura ad albero come in figura.
                  </p>
                </article>
              </div>
            </div>
          </div>
          <!-- PAGE 4 -->
          <div class="scroller page p-04">
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Sebbene il telegrafo riuscisse ad inviare 50 segnali al
                    minuto i suoi costi elevati non lo fecero diventare un
                    prodotto di massa. In più, nella prima metà dell’800,
                    continuava a regnare il solito scetticismo sul telegrafo. A
                    cosa può servire, si chiedevano i contemporanei di
                    Wheatstone e Cooke?
                  </p>
                  <p>
                    Un’utilità si trovò grazie al contemporaneo sviluppo della
                    linea ferroviaria Inglese con la Great Western Company
                    fondata nel 1833.
                  </p>
                  <p>
                    I telegrafi sarebbero serviti a rendere più sicuro il
                    passaggio dei treni. Il 9 aprile 1839 la prima linea
                    telegrafica commerciale fu istallata tra le stazioni di
                    Paddinton e West Drayton.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- PAGINA 5 -->
          <div class="scroller page p-04">
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Sebbene il telegrafo riuscisse ad inviare 50 segnali al
                    minuto i suoi costi elevati non lo fecero diventare un
                    prodotto di massa. In più, nella prima metà dell’800,
                    continuava a regnare il solito scetticismo sul telegrafo. A
                    cosa può servire, si chiedevano i contemporanei di
                    Wheatstone e Cooke?
                  </p>
                  <p>
                    Un’utilità si trovò grazie al contemporaneo sviluppo della
                    linea ferroviaria Inglese con la Great Western Company
                    fondata nel 1833.
                  </p>
                  <p>
                    I telegrafi sarebbero serviti a rendere più sicuro il
                    passaggio dei treni. Il 9 aprile 1839 la prima linea
                    telegrafica commerciale fu istallata tra le stazioni di
                    Paddinton e West Drayton.
                  </p>
                </article>
              </div>
            </div>
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Tra gli inventori più temibili del periodo troviamo un certo
                    Davy che sviluppò un suo relay e cercò di vendere il suo
                    apparecchio alle compagnie ferroviarie. Ma non era l’unico
                    che tentava di ottenere il riconoscimento del governo
                    britannico.
                  </p>
                  <p>
                    Ironia della sorte vuole che, in una lettera che inviò a suo
                    padre nel 1838 proprio Davy scrisse “ho notato un’altra
                    applicazione per una patente richiesta da una persona che va
                    col nome di Morse”.
                  </p>
                </article>
              </div>
            </div>
          </div>
          <!-- SEZIONE MORSE -->

          <!-- a) BOOKMARK -->
          <!-- PAGE 1 ELECTROMAGNETISM -->
          <div class="scroller page p-01">
            <div class="mainContainer">
              <div class="containerFrame1">
                <div class="overlayM ov1M"></div>
                <div class="overlay2M ov2M"></div>
                <div class="Image-01">
                  <div class="dioPadding">
                    <div class="frame6"></div>
                  </div>
                </div>
                <div class="textBookmark">
                  <div class="controlTextBookMark">
                    <div class="titleBookMark">
                      <h2 class="titoloChappe">3. Il telegrafo di Morse</h2>
                    </div>
                    <article>
                      <p class="spanBookmark">
                        Cosa aveva il telegrafo di Morse che gli altri nello
                        stesso periodo non avevano? L’ultilizzo di un codice
                        binario.
                      </p>
                      <p class="spanBookmark">
                        Morse comprese che la chiave per rendere praticabile la
                        comunicazione a distanza non si trovava solo nella
                        semplicità dello strumento ma nella semplicità del
                        messaggio.
                      </p>
                      <p class="spanBookmark">
                        E la logica degli antichissimi codici binari si adattava
                        perfettamente a questo scopo.
                      </p>
                      <p class="spanBookmark">
                        Il suo contributo nella telecomunicazione fu
                        fundamentale.
                      </p>
                      <p class="spanBookmark">
                        Capì a perfezione la sua epoca e intuí qual’era il
                        medium che avrebbe utilizzato di più il suo telegrafo:il
                        giornale.
                      </p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapperContentP1T">
              <div class="textContainer textPage01T">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      Samuel Morse era pittore di professione ma aveva una
                      grandissima fascinazione per la tecologia. Fu lui ad
                      esempio che introdusse negli Stati Uniti il dagherrotipo
                      dopo averlo scoperto durante un viaggio in Europa. Nel
                      1832 si interessò all’elettromagnetismo e da questo
                      momento i suoi forzi si concentrarono nella costruzione di
                      un telegrafo. Fu il suo conoscente professore di chimica
                    </p>
                  </article>
                </div>
              </div>
              <div class="textContainer textPage01T">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      Gale che gli fece scoprire il lavoro di Joseph Herry ed in
                      particolare il suo relay, capace di inviare impulsi a
                      grande distanza. Morse insieme a Gale e Alfred Vail
                      costruirono quindi il famoso telegrafo elettromagnetico
                      durante il 1837 che venne poi testato per la prima volta
                      nel 1838.
                    </p>
                  </article>
                </div>
              </div>
              <div class="containerFrame2M">
                <div class="frame7"></div>
              </div>
            </div>
          </div>

          <!-- Pagina 2 -->
          <div class="scroller page p-02">
            <div class="textContainer textPage01">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Come possiamo vedere dall’immagine a destra,lo strumento é
                    composto da due dispositivi. Il primo viene chamato chiave
                    ed è quelo che invia i segnali di un messaggio abbasando la
                    levetta che apre e chiude un circuito elettrico.
                  </p>
                  <p>
                    L’impulso elettrico viene ricevuto dal secondo dispositivo,
                    chiamato “registro”, dove un braccio di legno collegato ad
                    un metallo viene attirato o respinto da un elettromagnete.
                    Questo braccio ha alla sua estremità un ago che registrerà
                    su un nastro di carta i tratti punto e linea.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- Page 3 -->
          <div class="scroller page p-03">
            <div class="textContainer textPage01T">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Questo strumento utilizzava la forza elettromagnetica
                    attraverso la quale si riusciva a far ruotare gli aghi. Il
                    movimento di due di questi poteva isolare la lettera
                    prescelta posta in una struttura ad albero come in
                    figura.Forse ancora più rivoluzianario fu però l’invenzione
                    del codice sviluppato proprio in quegli anni. E tutto grazie
                    ad una geniale intuizione di Morse.
                  </p>
                  <p>
                    Egli insieme a Veil si recò presso una tipografia e si
                    misero a misurare la frequenza con cui le lettere venivano
                    usate dai tipografi. Alle lettere di uso più frequente
                    sarebbero stati assegnati segnali più brevi (alla e ed alla
                    t , le lettera più utilizzate nella lingua inglese furono
                    assegnate rispettivamente un punto ed una linea).
                  </p>
                  <p>
                    Il codice era semplice, l’unico problema era che per inviare
                    un messaggio in modo corretto bisognava farlo con perfetta
                    sincronizzazione contando il tempo che intercorre tra i
                    punti, le linee e i vari spazi.
                  </p>
                  <p>
                    Invece di focalizzarsi sulla traduzione di ogni lettera
                    dell’alfabeto in un simbolo diverso come facevano gli altri
                    telegrafi, Morse capì che bastava formare un personale che
                    fosse in grado di scrivere e leggere il suo codice.
                  </p>
                  <p>
                    Una volta fatto questo ogni comunicazione poteva essere
                    effettuata con grande immediatezza. In definitiva fu proprio
                    il codice di Morse ad essere l’elemento che rese questo
                    telegrafo il vincitore nella storia.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- PAGE 4 -->
          <div class="scroller page p-04">
            <div class="textContainer textPage01T">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Eppure, Samuel Morse non riuscì a diffondere il suo
                    telegrafo senza problemi. Gli ostacoli erano molteplici. In
                    Inghilterra, per esempio il suo telegrafo non fu accettato a
                    causa della patente di Wheatstone e Cooke, la Francia non
                    era interessata e anche negli stati Uniti l’operazione di
                    vendita non fu affatto semplice. Vi erano molti telegrafi
                    erano in commercio. Morse riuscì dopo tante cause ad
                    ottenere la patente nel 1851, sopprimendo le alternative.
                  </p>
                  <p>
                    Così nel 1853 le poste del governo degli stati Uniti
                    acquistarono per primi i diritti di sfruttamento delle linee
                    telegrafiche ma presto anche loro dichiaraono di non
                    riuscire trovare un interesse più generale sul telegrafo. In
                    maniera non molto lungimirante, e si preferì consegnare ai
                    business privati tutta la futura economia della
                    telecomunicazione.
                  </p>
                </article>
              </div>
            </div>
            <div class="textContainer textPage01T">
              <div class="controlTextMP2">
                <article>
                  <p>
                    Infatti, se l’invio di intelligence immediato non sembrava
                    essere fruttuoso per il governo , altri, ossia i
                    giornalisti, videro in questo delle oppurtunità . I giornali
                    afferrarono presto l’importanza di ottenere le informazioni
                    prima dei loro competitors e grazie al telegrafo il
                    giornalismo cambiò natura. Nacque il mercato dello “scoop”:
                    il giornale che pubblicava per primo le notizie si
                    assicurava vendite più alte rispetto agli altri. Le notizie
                    vecchie non erano più considerate notizie, non avevano
                    valore economico.
                  </p>
                  <p>
                    La necessità della messaggistica istantanea faceva aumentare
                    le opportunità anche ad un’altra categoria, quella degli
                    investirtori di mercato per i quali inviare e ricevere
                    informazioni per primi poteva rappresentare un netto
                    vantaggio. Fu così che in meno di mezzo secolo si trovò il
                    motivo, al di fuori della di guerra, per cui la
                    telecomunicazione era da ritenere veramente necessaria : la
                    circolazione del denaro!
                  </p>
                </article>
              </div>
            </div>
          </div>
          <!-- SEZIONE DIFFUSIONE -->

          <!-- a) BOOKMARK -->
          <!-- PAGE 1  -->
          <div class="scroller page p-01">
            <div class="mainContainer">
              <div class="containerFrame1">
                <div class="overlayM ov1M"></div>
                <div class="overlay2M ov2M"></div>
                <div class="Image-01">
                  <div class="dioPadding">
                    <div class="frame8"></div>
                  </div>
                </div>
                <div class="textBookmark">
                  <div class="controlTextBookMark">
                    <div class="titleBookMark">
                      <h2 class="titoloChappe">
                        4. Le connessioni intercontinentali
                      </h2>
                    </div>
                    <article>
                      <p class="spanBookmark">
                        Nel giro di pochi anni le connessioni telegrafiche
                        tramite i pali elettrici si stavano diffondendo non solo
                        negli Stati Uniti ma anche in tutta Europa.
                      </p>
                      <p class="spanBookmark">
                        In tutto il mondo la popolazione era di fronte ad una
                        realtà che soltanto pochi decenni prima non era nemmeno
                        contemplabile: la telecomunicazione a distanza ed
                        immediata era qualcosa di possibile.
                      </p>
                      <p class="spanBookmark">
                        Ma mancava un unico tassello per rendere questa
                        rivoluzione ancora più di impatto: le connessioni tra i
                        continenti.
                      </p>
                    </article>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapperContentP1T">
              <div class="textContainer textPage01T">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      Un businessman di grande successo di nome Cyrus Field
                      colse l’opportunità di investire nel mercato dei
                      telegrafi. La sua prima linea telegrafica doveva collegare
                      la città di New York a Newfoundland, con lo scopo di poter
                      inviare notizie di arrivo degli sbarchi dall’Irlanda in
                      poco tempo. Ma nel 1854 Field ebbe un’altra idea: quella
                      di collegare
                    </p>
                  </article>
                </div>
              </div>
              <div class="textContainer textPage01T">
                <div class="controlText">
                  <article class="introM">
                    <p>
                      collegare l’America all’Europa collegando Newfoundland
                      all’Irlanda per arrivare così a Londra che era all’epoca
                      il centro dell’economia globale. Cercò fondi dai maggiori
                      investitori, inclusi i governi degli Stati Uniti e del
                      Regno Unito per ottenere le navi per il collegamento dei
                      cavi.
                    </p>
                  </article>
                </div>
              </div>
              <div class="containerFrame2M">
                <div class="frame7"></div>
              </div>
            </div>
          </div>

          <!-- Pagina 2 -->
          <div class="scroller page p-02">
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Egli recrutò inoltre ingegneri e scienziati nel progetto per
                    sviluppare cavi che potessero reggere la pressione
                    sottomarina e inviare dall’altro capo dell’oceano gli
                    impulsi elettrici. I primi tentativi fuorno disastrosi e
                    quasi fecero perdere la fuducia nel progetto ma finalmente
                    nel 1858 il primo collegamento si originò tra l’America e
                    l’Inghilterra.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- Page 3 -->

          <div class="scroller page p-02">
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Egli recrutò inoltre ingegneri e scienziati nel progetto per
                    sviluppare cavi che potessero reggere la pressione
                    sottomarina e inviare dall’altro capo dell’oceano gli
                    impulsi elettrici. I primi tentativi fuorno disastrosi e
                    quasi fecero perdere la fuducia nel progetto ma finalmente
                    nel 1858 il primo collegamento si originò tra l’America e
                    l’Inghilterra.
                  </p>
                </article>
              </div>
            </div>
            <div class="containerFrame2Copy">
              <div class="intra"></div>
              <div class="text"></div>
            </div>
          </div>
          <!-- PAGE 4 -->
          <div class="scroller page p-02">
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Scambi di buona fortuna furono inviati dalla regina Victoria
                    al presidente degli Stati Uniti d’America:”It is a triumph
                    more glorious, because far more useful to mankind, than was
                    ever won by conqueror on the field of battle”, inviò con il
                    codice morse il presidente . Nel 1866 un collegamento
                    permanente fu creato tra i due continenti e da questo
                    momento in poi le connessioni telegrafiche transoceaniche si
                    diffusero nel mondo.
                  </p>
                </article>
              </div>
            </div>
            <div class="textContainer textPage01">
              <div class="controlText">
                <article>
                  <p>
                    Rappresentate dalle mappe si puó vedere la progressione
                    dell’espansione del telegrafo nel corso di cinquant’anni
                    circa.
                  </p>
                </article>
              </div>
            </div>
          </div>
          <!-- PAGE 5 -->

          <div class="scroller page">
            <div class="textContainer textPage01"></div>
          </div>
          <!-- WHITE SPACE -->
          <div class="scroller page"></div>
          <div class="scroller page"></div>
          <!-- END WHITE SPACE -->
        </div>
        <canvas id="myCanvas"></canvas>
        <canvas id="myCanvas1"></canvas>
      </section>
    </div>
  </body>
</html>
