<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script defer src="/js/bundled/index.js"></script>
    <title>The Telegraph</title>
  </head>
  <body>
    <!-- SECTION 1 -->
     <div class="mainSiteWrapper">
      <section class="sections">
        <div class="mainWrapper">
        <div class="mainContainer"></div>
        </div>
      </section>
     </div>
  </body>
</html>
