body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: 10px;
  background-color: #d0c8a4;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-y: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.overflow {
  overflow: hidden;
}
.sections {
  display: flex;
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.mainSiteWrapper {
  display: flex;
}
.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 300vw;
  align-items: center;
  justify-content: start;
  position: absolute;
}
.containerFrame1 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
.controlTextBookMark{
  margin-left:2vw;
  margin-right:2vw;
  height: 80%;
}
.Image-01 {
display: flex;}
.containerFrame2 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
  margin-right: 3vw;
}
.containerFrame3 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 3;
  position: relative;
}

/* .mainContainer {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  max-height: 100vh;
  border: solid red;
} */
 .mainContainer{
  display: flex;
 width: 250vw;
 height: 100vh;
 border: solid red;
 position: relative;
 }
.overlapper {
  position: absolute;
  width: 48rem;
  height: 100vh;
  border:solid blue;
  z-index: 3;
}
.textBookmark {
  position: absolute;
  font-size: 2vh;
  height: inherit;
  z-index: 3;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
}
.Image-01{
  margin-top:-48%;
  height:100%;
}
.frame1 {
  height: 200vh;
  aspect-ratio: 0.25;
  border: solid;
  top:0;
}
.frame2 {
  height: 200vh;
  aspect-ratio: 0.25;
  border: solid;
}
.frame3 {
  height: 25vh;
  aspect-ratio: 0.79;
  border: solid;
}
.frame4 {
  height: 25vh;
  aspect-ratio: 0.79;
  border: solid;
}
