body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: 10px;
  background-color: #d0c8a4;
}
body {
  line-height: 1.5;
  min-height: 100vh;
  overflow-y: hidden !important;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

img,
picture {
  max-width: 100%;
  display: block;
}
.sections {
  display: flex;
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 300vw;
  align-items: center;
  justify-content: start;
  position: absolute;
}
.mainSiteWrapper {
  display: flex;
}
/* SECTION 1 */
/* a) Bookmark */
.mainContainer {
  display: flex;
  width: fit-content;
  height: 100vh;
  border: solid red;
  position: relative;
}
.containerFrame1 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
.Image-01 {
  height: 100%;
}
.overlay {
  mix-blend-mode: hard-light;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.ov1 {
  opacity: 0.45;
  background-color: black;
}
.ov2 {
  opacity: 0.86;
  background-color: #892020;
}
.frame1 {
  margin-top: -48%;
  height: 200vh;
  aspect-ratio: 0.25;
  top: 0;
}
.textBookmark {
  position: absolute;
  font-size: 2vh;
  height: inherit;
  z-index: 3;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
  color: #ebecdc;
  height: 50%;
}
.controlTextBookMark {
  width: 80%;
  margin-right: 2vw;
  margin-left: 2vw;
}
/* b) first page */
.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200vh;
 color:#333333; 
  font-size: 1.9vh;
  text-wrap: wrap;
  font-family: "libre baskerville";
}
.p-01{

  aspect-ratio: 75/100;

}
p {
  margin-bottom: 1.5vh;
}
.controlText {
  height: 65vh;
  aspect-ratio: 0.7;
}
.containerFrame2 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
}
.containerFrame3 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  position: relative;
}

.frame2 {
  height: 65vh;
  aspect-ratio: 0.5;
}
/* Pagina 2 */
.p-02{
  aspect-ratio: 1;
  border:solid
}
.frame3 {
  height: 65vh;
  aspect-ratio: 1.28;
  border:solid;
}
/* Pagina 3 */
.p-03{
  aspect-ratio: 1;
  border:solid;
}