body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: 10px;
  background-color: #d0c8a4;
  height: 100vh;
}
body {
  line-height: 1.5;
  overflow-x: hidden !important;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.spanBookmark {
  overflow-y: hidden !important;
  height: 3vh;
}
img,
picture {
  max-width: 100%;
  display: block;
}
.sections {
  display: flex;
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#myCanvas1 {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 30vw;
}
.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  aspect-ratio: 3.5;
  align-items: center;
  justify-content: start;
  position: absolute;
}
.mainSiteWrapper {
  display: flex;
  width: fit-content;
  height: 100vh;
  overflow-y: hidden;
}
/* SECTION 1 */
/* a) Bookmark */
.mainContainer {
  display: flex;
  width: fit-content;
  height: 100vh;
  position: relative;
}
.containerFrame1 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
.Image-01 {
  height: 100%;
}
.overlay {
  mix-blend-mode: hard-light;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ov1 {
  z-index: 2;
  opacity: 0.45;
  background-color: black;
}
.ov2 {
  z-index: 1;
  opacity: 0.86;
  background-color: #892020;
}
.frame1 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}
.titleBookMark {
  overflow: hidden;
  margin-bottom: 1vh;
}
.textBookmark {
  position: absolute;
  font-size: 2vh;
  height: inherit;
  z-index: 3;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
  color: #ebecdc;
  height: 50vh;
  aspect-ratio: 1;
}
.controlTextBookMark {
  width: 80%;
  /* margin-right: 2vw;
  margin-left: 2vw; */
}
/* b) first page */
.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 200vh; */
  color: #333333;
  font-size: 1.9vh;
  text-wrap: wrap;
  font-family: "libre baskerville";
}
.p-01 {
  justify-content: space-between !important;
  height: 100vh;
  aspect-ratio: 2;
}
p > .page{
  margin-bottom: 1.5vh;
}
.wrapperContentP1{
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.controlText {
  height: 65vh;
  aspect-ratio: 0.7;
}
.containerFrame2 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
  overflow-y: hidden;
  width: fit-content;
}
.containerFrame2Copy {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
  overflow-y: hidden;
  width: fit-content;
}
.gif1{
  height: 65vh;
  aspect-ratio: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.textContainer{
  width: fit-content;
}
.containerFrame3 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  position: relative;
  overflow-y: hidden;
}

.frame2 {
  height: 65vh;
  aspect-ratio: 0.5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Pagina 2 */
.p-02 {
  height: 100vh;
  aspect-ratio: 2;
  border: solid;
}
.frame3 {
  height: 65vh;
  aspect-ratio: 1.28;
  border: solid;
}
/* Pagina 3 */
.p-03 {
  height: 100vh;
  aspect-ratio: 2;
  border: solid;
}
/* background */
.background {
  position: absolute;
  aspect-ratio: 1.48;
  height: 100vh;
  opacity: 0.21;
}
